.infinite-scroll-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    width: 100%;
    overflow: hidden;
    margin-bottom: 50px;
}

.tag-list {
    width: 100%;
    max-width: 80rem;
    font-family: "Montserrat";
    position: relative;
    overflow: hidden;
}

.inner {
    width: fit-content;
    display: flex;
    gap: 2rem;
    animation: loop 10s linear infinite;
}

.tag {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    color: #ffffff;
    font-size: 1.5rem;
    background-color: #dc2626;
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    border: 1px solid #b91c1c;
    white-space: nowrap;
}

.tag i {
    font-size: 1.5rem;
    color: #ffffff;
}

.tag span {
    font-size: 1.8rem;
    color: #fca5a5;
}

.fade {
    position: absolute;
    background: linear-gradient(90deg, #ffffff, transparent 30%, #ffffff);
    inset: 0;
    pointer-events: none;
}

.dark-theme .infinite-scroll-container  {
    background-color: #1E201E;
    color: #e0e0e0;
}

.dark-theme .tag   {
    background-color: #1E201E;
    color: #ffffff;
}

.dark-theme .fade   {
    background: linear-gradient(90deg, #1E201E, transparent 30%, #1E201E);
}

.dark-theme .tag i {
    color: #dc2626;
}

@keyframes loop {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

@media (max-width: 768px) {
    .infinite-scroll-container {
        margin-bottom: 30px;
    }

    .tag {
        font-size: 1.2rem;
        padding: 0.8rem 1.2rem;
    }

    .tag i {
        font-size: 1.2rem;
    }

    .tag span {
        font-size: 1.5rem;
    }

    .inner {
        gap: 1.5rem;
    }
}